-- Join CWUR and TIMES tables by university name (2015 example)
SELECT t.year, t.university_name, t.country,
       t.world_rank AS times_rank, c.world_rank AS cwur_rank,
       t.total_score AS times_score, c.score AS cwur_score
FROM times_hdfs t
JOIN cwur_hdfs c
  ON LOWER(t.university_name) = LOWER(c.institution)
WHERE t.year = 2015
ORDER BY t.total_score DESC
LIMIT 20;
