-- Sampling and subquery example
SELECT country, AVG(total_score) AS avg_score
FROM (
  SELECT * FROM times_hdfs
  TABLESAMPLE(BUCKET 1 OUT OF 10 ON university_name)
) s
GROUP BY country
ORDER BY avg_score DESC
